
.contenedor_footer{
        position: relative;
        width: 100%;
        height: 500px; /* Ajusta según necesidad */
        background: url(recursos\wave_footer.svg) no-repeat bottom center;
        background-size: cover;
}
    