@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Montserrat';
    color: gray;
}

h1{
    font-family: 'Playfair display';
    color: gray;
    font-size: 30px;
}

h2{
    font-family: 'Playfair display';
    color: gray;
    font-size: 25px;
}

h3{
    font-family: 'Playfair display';
    color: gray;
    font-size: 20px;
}

h4{
    font-family: 'Playfair display';
    color: gray;
}

$verde_azulado:#7dbdb1a7;
$gris_marengo:#5A5A5A;
$rosa_polvo:#E8C1C8CF;
$beige:#F7F4ECCC;
$titulos:"Playfair Display";

/*NAVBAR*/
.menu{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: $rosa_polvo;
    opacity: 0.5;
}

.logo_menu{
    display: none;
}

@media (min-height:992px){
    .logo_menu{
        display:flex;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    z-index: 1;
}

.collapse navbar-collapse{
    background-color: white;
    opacity: 0.75;
}


/*FOOTER*/
.contenedor_footer{
    background-color: $beige;
    padding-top: 20px;
}


/*INDEX*/

.marco-superior, .marco-inferior {
    width: 100%;
    height: auto;
}

.fondo-video{
    background-color: $verde_azulado;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    z-index: 1;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    max-width: 600px;
}

.contenedor_color{
    background-color: $verde_azulado;
    width: 100%;
}

.contendores_general_beneficios{
    width: 100%;
}

.contenedor_beneficios{
    background-color: $verde_azulado;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
}

.tarjeta_pasos {
    position: relative;
    background-color: $verde_azulado;
    opacity: 0.75; /* Color verde menta */
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.numeracion {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 70px;
    height: 70px;
    background-color: rgba(229, 152, 155, 0.7); /* Color rosa con transparencia */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white; /* Color de texto más tenue */
    h3 {
        margin: 0;
        font-size: 22px;
        font-weight: bold;
        color: #444;
    }
    
    p {
        font-size: 16px;
        color: #555;
    }
}

.CTA_fin_index{
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.tarifas_recuadros{
    display: flex;
    flex-direction: column;
    background-color: $verde_azulado;
    color: white;
    margin: 20px;
    width: 50vw;
    height: 50vh;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    align-items: center;
    transform: perspective(500px) rotateY(-30deg);

}

.total_sesiones{
    font-size: 10px;
    align-items: end;
}

.card-header{
    background-color: $verde_azulado;
    opacity: 0.75;
    color: white;
}

.boton{
    color: $rosa_polvo;
    background-color: white;
    border-color: $rosa_polvo;
    &:hover{
        color: white;
        background-color: $rosa_polvo;
        border: none;
    }
}

/*SERVICIOS*/

.imagen_servicios{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 2px 2px 10px gray;
}

.card_servicios{
    background-color: $verde_azulado;
    box-shadow: 5px 5px 10px gray;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    min-height: 45vh;
    min-width: 25vw;
    max-width: 70vw;
    align-items: center;
}

@media (max-width:992px) {
    .card_servicios{
        min-height: 40vh;
    }
}

.boton_display {
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: $rosa_polvo;
    border: none;
    border-radius: 50%; /* Hace que el botón sea circular */
    
    font-size: 25px; /* Asegura que el + tenga el tamaño correcto */
    font-weight: bold;
    color: $verde_azulado;
    
    margin: 10px;
}

/*SERVICIOS INTERNA*/

.imagen_servicios_interna{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 2px 2px 10px gray;

}

.fondo_servicios_interna {
    background-image: url("../recursos/fondo_servicios_interna.png");
    background-size: cover; /* Para que el fondo cubra el área */
    background-position: top; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.accordion-button:not(.collapsed) {
    background-color: #FFB6C1; /* Cambia este color por el que prefieras */
    color: white; /* Color del texto */
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); /* Invierte el color del icono */
}

.accordion-button:focus {
    box-shadow: none; /* Elimina el borde azul de Bootstrap */
}

.accordion-item {
    border: 1px solid #FFB6C1; /* Ajusta el color del borde */
}


/*CONTACTO*/
.formulario{
    background-color: $verde_azulado;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
    .lineas_formulario{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: space-evenly;
        .label{
            width: 100%;
            padding-bottom: 2px;
            font-family: $titulos;
            text-align: start;
            color: $gris_marengo;
            font-weight: bold;
            font-size: 18px;
        }
        .cuadro_texto{
            width: 100%;
        }
    }
}

.mapa{
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
}

/*SOBRE MI*/

.foto_maria{
    max-width: 1000px;
    max-height: 800px;
    border-radius: 50%;
}

.acordeon_sobremi{
    width: 100%;
    max-width: 500px;
}

.descripcion_maria{
    max-width: 500px;
    margin: 10px;
}
